<ion-content>
  <app-header
    color="dark"
    [centerTitle]="true"
    [isModal]="true"
    [title]="exercise.name"    
  ></app-header>
  <ion-card>
    <ion-card-content>
      <div class="exercise-image-container">
        <img [src]="exercise.image_url" alt="Imagen del ejercicio" class="exercise-image">
      </div>
      <ion-card-title>{{ exercise.name }}</ion-card-title>
      <p class="exercise-description">{{ exercise.description }}</p>
      <p class="repetitions-txt">Repeticiones</p>
      <ion-list>
        <ion-item>
          <ion-label>Beginner:</ion-label>
          <ion-text>{{ exercise.repetitions.begginer }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Intermediate:</ion-label>
          <ion-text>{{ exercise.repetitions.intermediate }}</ion-text>
        </ion-item>
        <ion-item>
          <ion-label>Advanced:</ion-label>
          <ion-text>{{ exercise.repetitions.advanced }}</ion-text>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
