<ion-content>
  <app-header
    color="dark"
    [centerTitle]="true"
    [isModal]="true"
    title="Routine Detail"
  ></app-header>
  <ion-text color="primary">
    <h1 class="custom-h1">Completed Routine Dates</h1>
  </ion-text>
  <ion-text color="success">
    <h2 class="custom-h2">{{ routine.name }}</h2>
  </ion-text>
  <ion-list>
    <ion-item *ngIf="!routine.date_and_rest_time.length">
      <ion-text class="empty-routine-message">
        You haven't completed this routine yet.
      </ion-text>
    </ion-item>
    <ion-item *ngFor="let date_and_rest_time of routine.date_and_rest_time">
      <ion-label>
        <p><b>Completed on:</b></p>
        <p>{{ convertToDisplayDate(date_and_rest_time.completed_date) | date : "short" }}</p>
      </ion-label>
      <ion-label>
        <p><b>Rest time:</b></p>
        <p>{{ date_and_rest_time.rest_time }} Sec</p>
      </ion-label>
      <ion-label slot="end">
        <p><b>Completed</b></p>
        <ion-icon size="large" name="checkmark-outline"></ion-icon>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
