<ion-content>
  <app-header
    color="dark"
    [centerTitle]="true"
    [isModal]="true"
    title="Routine Detail"
  ></app-header>
  <ion-text color="primary">
    <h1 class="custom-h1">Completed Routine Dates</h1>
  </ion-text>
  <ion-text color="success">
    <h2 class="custom-h2">{{ routine.name }}</h2>
  </ion-text>
  <ion-list>
    <ion-item *ngIf="!routine.history.length">
      <ion-text class="empty-routine-message">
        You haven't completed this routine yet.
      </ion-text>
    </ion-item>
    <ion-item *ngFor="let history of routine.history">
      <ion-label>
        <p><b>Completed on:</b></p>
        <p>{{ convertToDisplayDate(history.completed_date) | date : "short" }}</p>
      </ion-label>
      <ion-label>
        <p><b>Rest time:</b></p>
        <p>{{ history.rest_time }} Sec</p>
      </ion-label>
      <ion-label slot="end">
        <p><b>History</b></p>
        <ion-button color="warning" shape="round"(click)="viewHistoryOfRoutine(history)" >
          <ion-icon name="time-outline" ></ion-icon>
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
