<ion-content>
  <app-header
  color="dark"
  [centerTitle]="true"
  [isModal]="true"
  title="Forgot Password"    
></app-header>
  <ion-card>
    <ion-card-header>
      Forgot Your Password?
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input label="Email" label-placement="floating" type="email" name="email" [(ngModel)]="email" required></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-button expand="full" shape="round" color="success" (click)="recoverPassword()">
    Recover Password
  </ion-button>
</ion-content>