.exercise-card {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .rest-time-title {
    font-size: 24px;
    text-align: center;
    color: #ff6b6b; /* Color de texto rojo */
  }
  
  .exercise-title {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: #4caf50; /* Color de texto verde */
  }

  .notes-title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .notes-description {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .div-notes {
    padding: 20px;
  }
  
  .exercise-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .rest-image {
    max-width: 100%;
    border-radius: 8px;
    padding: 10px;
  }

  .next-exercise-card {
    background-color: #f5f5f5;
    color: #333;
  }
  
  .time-remaining {
    font-size: 18px;
    text-align: center;
    margin-top: 10px;
  }
  
  .exercise-info {
    margin-top: 16px;
  }
  
  .congratulations-card {
    background-color: #4caf50; /* Color de fondo verde */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  
  .congratulations-title {
    font-size: 24px;
    text-align: center;
    color: #fff; /* Texto en blanco */
  }
  
  .congratulations-message {
    font-size: 18px;
    text-align: center;
    color: #fff;
  }