<ion-content>
  <app-header
    color="dark"
    [centerTitle]="false"
    [isModal]="false"
    title="Profile"
  ></app-header>

  <div class="content ion-text-center">
    <div *ngIf="user" class="avatar-container">
      <div class="avatar-wrapper">
        <ion-avatar class="avatar">
          <img [src]="user?.photoURL" />
        </ion-avatar>
      </div>
    </div>
    <h2>{{ user?.displayName }}</h2>
    <div>{{ user?.email }}</div>

    <ion-button *ngIf="!user" (click)="loginWithGoogle()" shape="round">
      Sign up with Google
      <ion-icon slot="end" name="logo-google"></ion-icon>
    </ion-button>

    <ion-button
      *ngIf="user"
      color="tertiary"
      (click)="openModalGetRoutines()"
      shape="round"
    >
      Routines
      <ion-icon slot="end" name="stopwatch-outline"></ion-icon>
    </ion-button>

    <ion-button *ngIf="user" (click)="signOut()" color="danger" shape="round">
      Log out
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
