<ion-content>
  <app-header
    color="dark"
    [centerTitle]="false"
    [isModal]="false"
    title="Profile"
  ></app-header>

  <div class="content ion-text-center">
    <div *ngIf="user" class="avatar-container">
      <div class="avatar-wrapper">
        <ion-avatar class="avatar">
          <img [src]="user?.photoURL" />
        </ion-avatar>
      </div>
    </div>
    <h2>{{ user?.displayName }}</h2>
    <div>{{ user?.email }}</div>

    <form *ngIf="!user" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

      <ion-text>
        Login or Register
      </ion-text>
    
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="email" name="email" ngModel required></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" name="password" ngModel required></ion-input>
      </ion-item>
    
      <ion-button expand="full" shape="round" color="success" type="submit">
        Sign In
      </ion-button>
    
      <ion-button expand="full" shape="round" color="tertiary" (click)="onSignUp(loginForm)">
        Sign Up
      </ion-button>

      <ion-text class="forgotPassword" (click)="forgotPassword()">
        <a>Forgot your password?</a>
      </ion-text>
    
    </form>

    <ion-button
      *ngIf="user"
      color="tertiary"
      (click)="openModalGetRoutines()"
      shape="round"
      class="ion-button"
    >
      Routines
      <ion-icon slot="end" name="stopwatch-outline"></ion-icon>
    </ion-button>

    <ion-button
      *ngIf="user"
      (click)="signOut()"
      color="danger"
      class="ion-button"
      shape="round"
    >
      Log out
      <ion-icon slot="end" name="log-out-outline"></ion-icon>
    </ion-button>
  </div>
</ion-content>
