<ion-content>
  <app-header
    color="dark"
    [centerTitle]="false"
    [isModal]="false"
    title="Sign up"
    [isModal]="true"
  ></app-header>

  <form #loginForm="ngForm" (ngSubmit)="onSignUp()" class="ion-text-center">

    <ion-text>
      Sign up
    </ion-text>
  
    <app-custom-input 
        autocomplete="email"
        [control]="form.controls.email"
        name="email"
        type="email"
        label="Email"
        icon="mail-outline"
      ></app-custom-input>
  
    <app-custom-input
        [control]="form.controls.password"
        name="password"
        type="password"
        label="Password"
        icon="lock-closed-outline"
      ></app-custom-input>

      <app-custom-input
        [control]="form.controls.confirmPassword"
        name="confirm-password"
        type="password"
        label="Confirm Password"
        icon="lock-closed-outline"
      ></app-custom-input>
  
    <ion-button expand="full" shape="round" color="success" type="submit">
      Sign Up
    </ion-button>

  </form>


</ion-content>